.contenido-list {
  max-width: 1200px;
  margin: 0 auto;
  overflow: auto; /* Añadido para permitir desplazamiento */
  margin-top: 20px;
  text-align: center; /* Añadido para centrar */
  width: 1150px;
  height: 680px;
}
  
  .contenido-content {
    max-height: calc(100vh - 120px); /* Ajusta según tus necesidades; 120px es la altura del menú fijo */
    padding: 10px; /* Ajusta según tus necesidades */
  }
  
  .contenido-grid {
    display: flex;
    gap: 20px;
    overflow-x: auto;
  }
  
  @media screen and (max-width: 767px) {
    .contenido-grid {
      justify-content: center;
    }
  }