<div>
    <button (click)="actualizarCatalogo()" i18n>Actualizar catálogo</button>
</div>

<div>
    <button (click)="actualizarPublicidades()" i18n>Actualizar Publicidades</button>
</div>

<div>
    <button (click)="enviarEstadisticas()" i18n>Enviar estadísticas</button>
</div>

<div>
    <button (click)="enviarFacturas()" i18n>Enviar facturas</button>
</div>

<div>
    <button (click)="finalizarFederacionesPendientes()" i18n>Finalizar federaciones pendientes</button>
</div>

<ng-container *ngIf="resultado">
    <div class="resultado">
        <h2>{{resultado}}</h2>
    </div>
</ng-container>
<div class="back-button">
    <button class="back-button" (click)="volver()" i18n>Volver</button>
</div>