.filter-bar {
    max-width: 900px;
    text-align: center;
    margin-top: 0;
    position: fixed;
    top: 2%; /* Altura del menú fijo */
    width: 100%;
    background-color: #333; /* Ajusta el color de fondo según tu diseño */
    z-index: 1000;
    left: 25%;
}

.filter-bar label,
.filter-bar select,
.filter-bar input {
    margin-right: 10px; /* Ajusta según tus necesidades */
}

.btn-todos{
    float: left;
    margin-left: 10px;
    border: none;
    background-color: rgb(83, 83, 83);
    margin-top: 2px;
    color: white;
}
