.modal-header,
.modal-body,
.modal-footer{
    color: black;
}

form {
    /* Estilos para el formulario */
    display: flex;
    flex-direction: column;
}

.form-group {
    /* Estilos para cada grupo de etiqueta e input */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px; /* Ajusta según tus necesidades */
}

label {
    /* Estilos para las etiquetas del formulario */
    margin-right: 250px; /* Ajusta según tus necesidades */
    flex-wrap: wrap;
}

small{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 10px;
}

.btn-cerrar{
    border: none;
    background: none;
}