<nav>
    <ul>
        <li>
            <a href="#">
                <img src="https://t3.ftcdn.net/jpg/04/42/89/18/360_F_442891893_HntRDa5phYsDPvDf99fXiiiDwdPwbPQb.jpg" alt="logo" class="logo" >
            </a>
        </li>
        <h6>Multiplataforma de Servicios de Streaming</h6>
        <li *ngFor="let opcion of opcionesMenu">
            <a href="{{opcion.ref}}">{{ opcion.titulo }}</a>
        </li>
    </ul>
    <div class="cuenta">
        <div ngbDropdown class="d-inline-block" container="body">
			<button type="button" class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle>
				{{user.apellidos}} {{user.nombres}}
			</button>
			<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem (click)="listarPlataformas()" *ngIf="user.id_nivel == 1">Administrar Plataformas</button>
				<button ngbDropdownItem (click)="modificarDatos()" i18n>Mis datos</button>
				<button ngbDropdownItem (click)="logout()" i18n>Logout</button>
			</div>
		</div>
    </div>
</nav>
