<div class="administrador-main-container">
    <img src="https://t3.ftcdn.net/jpg/04/42/89/18/360_F_442891893_HntRDa5phYsDPvDf99fXiiiDwdPwbPQb.jpg" alt="Logo" class="logo">
    <h2 i18n>Panel de Administrador</h2>
    <div class="botonera">
      <button routerLink="/administrador/abm-banners" class="btn btn-success" i18n>ABM Banners</button>
      <button routerLink="/administrador/abm-plataformas" class="btn btn-warning" i18n>ABM Plataformas</button>
      <button routerLink="/administrador/abm-publicidades" class="btn btn-primary" i18n>ABM Publicidades</button>
      <button routerLink="/administrador/abm-publicistas" class="btn btn-info" i18n>ABM Publicistas</button>
      <button routerLink="/administrador/scheduled-tasks" class="btn btn-danger" i18n>Scheduled Tasks</button>
      <button routerLink="/administrador" class="btn btn-secondary" i18n>Inicio</button>
    </div>
    <router-outlet></router-outlet>
</div>