.banner-list {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    justify-content: center;
  }
  
  .banner-item {
    width: 25%; /* Ajusta según tu preferencia para el ancho de las tarjetas */
    margin: 5% 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #7e7b7b;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  /* Estilos adicionales para los campos de entrada */
  input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .titulo-banners {
    width: 100%;
    text-align: center;
    font-size: 100px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 45px rgba(0, 0, 0, 1);
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.back-button {
  position: absolute;
  bottom: 20px; /* Ajustar la distancia desde la parte inferior según sea necesario */
  left: 50%;
  transform: translateX(-50%); /* Centrar horizontalmente usando transform */
}

.back-button button {
  background-color: grey; /* Estilo gris para el botón */
  color: white; /* Color de texto blanco para contrastar */
  padding: 10px 20px; /* Ajustar el relleno según sea necesario */
  border: none;
  cursor: pointer;
}

.back-button button:hover {
  background-color: darkgrey; /* Cambiar el color al pasar el ratón sobre el botón */
}


input[type=number] {
  -moz-appearance: textfield;
}