<div class="visualizacion-container">
  <div class="contenido-info" *ngIf="!reproducir">
      <div class="background-image" [style.background-image]="'url(' + contenido.url_imagen + ')'">
        <!-- Contenido en la mitad inferior -->
        <div class="contenido-detalle">
          <h2>{{ contenido.titulo }}</h2>
          <p>{{ contenido.descripcion }}</p>
          <p i18n>Fecha de Estreno: {{ convertirFormatoFecha(contenido.fecha_estreno.toString()) }}</p>
          <p i18n>País: {{ contenido.pais }}</p>
          <p i18n>Protagonistas: {{ obtenerActuaciones(contenido) }}</p>
          <p i18n>Dirección: {{ obtenerDirecciones(contenido) }}</p>
        </div>

        <ul class="plataformas-list">
            <li *ngFor="let pxc of contenido.cont_x_plataforma">
              <img src="{{pxc.url_icono_plataforma}}" alt="{{pxc.id_plataforma}}" class="icono-plataforma" (click)="toggleReproducir(pxc.id_plataforma)"> 
                Ver contenido en {{pxc.nombre_plataforma}}
            </li>
        </ul>
      </div>
  </div>
  <button class="volver" (click)="volver()">X</button>
  <div class="reproducir-contenido" *ngIf="reproducir">
      <!--<video controls width="100%" height="100%">
          <source [src]="contenidoUrl" type="video/mp4" i18n>
      </video>-->
      <iframe width="100%" 
            height="100%"
            [src]="contenidoUrl" 
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
      </iframe>
      <!-- Botón para volver -->
      <button class="volver" (click)="volver()">X</button>
  </div>
</div>