/* You can add global styles to this file, and also import other style files */
.body {
    background-color: #333; 
    background-image: url('https://static.vecteezy.com/system/resources/previews/002/832/903/non_2x/dark-blue-green-background-with-circles-glitter-abstract-illustration-with-colorful-drops-pattern-for-websites-landing-pages-vector.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff; 
  }